@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-text-color: #2a373d;
  --primary-bg-color: #76969f;
  --secondary-bg-color: #98b0c1;

}

header,footer,.main-sidebar{
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color)
}

.main-container{
  background-color: var(--secondary-bg-color);
}





