<br />
<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="p-1">
  <table>
    <tr *ngFor="let control of myForm.controls | keyvalue">
      <td>
        <label class="p-1">{{ control.key }}</label>
      </td>
      <td>
        <input class="rounded p-1" [formControlName]="control.key" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button
          class="btn bg-green-400 text-white p-1 px-2 w-full"
          type="submit"
        >
          Submit
        </button>
      </td>
    </tr>
  </table>
</form>
